---
import { work } from "@cv/experience.json";
import ExperienceCard from "./ExperienceCard.astro";
import Section from "@components/Section.astro";
---

<Section title="Experience">
  <ul class="flex flex-col gap-5">
    {
      work.map((experience) => (
        <li>
          <ExperienceCard experience={experience} />
        </li>
      ))
    }
  </ul>
</Section>
