---
import Paragraph from "../Paragraph.astro";
import Section from "../Section.astro";
import { summary } from "@cv/user.json";
---

<Section title="About">
  <Paragraph size="base">
    <span class="text-sm sm:text-base print:text-sm">
      {summary}
    </span>
  </Paragraph>
</Section>
