---
import Button from "@/components/Button.astro";
import DownloadIcon from "@/components/icons/DownloadIcon.astro";
import FileIcon from "@/components/icons/FileIcon.astro";
---

<aside class="flex gap-2 text-xs font-medium text-neutral-500 print:hidden">
  <Button id="print">
    <FileIcon
      class="inline h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700"
    />
    Print
  </Button>
  <Button id="download">
    <DownloadIcon
      class="inline h-5 w-5 fill-neutral-500 transition-colors group-hover:fill-neutral-700"
    />
    Download
  </Button>
</aside>
