---
import Button from "@/components/Button.astro";
import DownloadIcon from "@/components/icons/DownloadIcon.astro";
import LanguagesIcon from "@/components/icons/LanguagesIcon.astro";
import FileIcon from "@/components/icons/FileIcon.astro";
import LinkButton from "@/components/LinkButton.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { defaultLang, getNextLanguage } from "@/i18n/ui";

const currentLang = Astro.currentLocale;
const nextLanguage = getNextLanguage(currentLang ?? defaultLang);
const url = getRelativeLocaleUrl(nextLanguage, "");
---

<aside
  class="flex gap-2 text-xs font-medium text-neutral-500 *:py-1 print:hidden"
>
  <Button id="print">
    <FileIcon
      class="inline h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700"
    />
    Print
  </Button>
  <Button id="download">
    <DownloadIcon
      class="inline h-5 w-5 fill-neutral-500 transition-colors group-hover:fill-neutral-700"
    />
    Download
  </Button>
  <LinkButton href={url}>
    <LanguagesIcon
      class="inline size-4 text-neutral-500 transition-colors group-hover:text-neutral-700"
    />
    <span class="uppercase">{currentLang}</span>
  </LinkButton>
</aside>
