---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import About from "@components/About.astro";
import Experience from "@components/Experience.astro";
import Education from "@components/Education.astro";
import Skills from "@components/Skills.astro";
import Projects from "@components/Projects.astro";
---

<Layout title="Welcome to Astro." description="description">
  <main class="mx-auto w-full px-4 py-16">
    <section class="mx-auto w-full max-w-2xl space-y-8">
      <Header />
      <About />
      <Experience />
      <Education />
      <span class="force-new-page"></span>
      <Skills />
      <Projects />
    </section>
  </main>
</Layout>
<style is:global>
  .force-new-page {
    page-break-before: always;
  }
</style>
