---
import Layout from "@layouts/Layout.astro";
import Header from "@components/sections/header/Header.astro";
import About from "@components/sections/about/About.astro";
import Experience from "@components/sections/experience/Experience.astro";
import Education from "@components/sections/education/Education.astro";
import Skills from "@components/sections/Skills.astro";
import Projects from "@components/sections/projects/Projects.astro";
import KeyboardManager from "@components/KeyboardManager.astro";
---

<Layout
  title="Uriel Spiridione | Full stack web developer"
  description="Uriel Spiridione | Full stack web developer | Curriculum vitae"
>
  <main class="mx-auto w-full max-w-2xl space-y-8">
    <Header />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </main>
  <KeyboardManager />
</Layout>
