---
import Layout from "@layouts/Layout.astro";
import Header from "@components/sections/Header.astro";
import About from "@components/sections/About.astro";
import Experience from "@components/sections/Experience.astro";
import Education from "@components/sections/Education.astro";
import Skills from "@components/sections/Skills.astro";
import Projects from "@components/sections/Projects.astro";
import KeyboardManager from "@components/KeyboardManager.astro";
---

<Layout
  title="Uriel Spiridione | Full stack web developer"
  description="Uriel Spiridione | Full stack web developer | Curriculum vitae"
>
  <main class="mx-auto w-full px-4 py-16">
    <section class="mx-auto w-full max-w-2xl space-y-8">
      <Header />
      <About />
      <Experience />
      <Education />
      <Skills />
      <Projects />
    </section>
  </main>
  <KeyboardManager />
</Layout>
<style is:global>
  .force-new-page {
    page-break-before: always;
    @media print {
      padding-top: 4rem;
    }
  }
</style>
