---
import Layout from "@layouts/Layout.astro";
import Header from "@components/sections/header/Header.astro";
import About from "@components/sections/about/About.astro";
import Experience from "@components/sections/experience/Experience.astro";
import Education from "@components/sections/education/Education.astro";
import Skills from "@components/sections/skills/Skills.astro";
import Projects from "@components/sections/projects/Projects.astro";
import Main from "@components/Main.astro";
---

<Layout
  title="Uriel Spiridione | Full stack web developer"
  description="Uriel Spiridione | Full stack web developer | Curriculum vitae"
>
  <Main>
    <Header />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </Main>
</Layout>
