---
import Section from "@components/Section.astro";
import { education } from "@cv/education.json";
import EducationCard from "./EducationCard.astro";
---

<Section title="Education">
  <ul class="flex flex-col gap-5">
    {
      education.map((item) => (
        <li>
          <EducationCard education={item} />
        </li>
      ))
    }
  </ul>
</Section>
