---
import Section from "@/components/Section.astro";
import EducationCard from "./EducationCard.astro";
import { getLocaleCollection } from "@/data/getLocaleCollection";

const educationData = await getLocaleCollection(
  "education",
  Astro.currentLocale,
);
const education = educationData.data;
---

<Section title="Education">
  <ul class="flex flex-col gap-5">
    {
      education.map((item) => (
        <li>
          <EducationCard education={item} />
        </li>
      ))
    }
  </ul>
</Section>
