---
import Paragraph from "@components/Paragraph.astro";
import Title from "@components/Title.astro";
import type { Education } from "@models/education.interface";

interface Props {
  education: Education;
}

const { institution, startDate, endDate, course } = Astro.props.education;
---

<article>
  <header class="flex flex-wrap items-center justify-between">
    <Title>{institution}</Title>
    <div class="text-sm text-gray-500 tabular-nums">
      {startDate} - {endDate}
    </div>
  </header>
  <Paragraph class="font-medium text-neutral-700">{course}</Paragraph>
</article>
