---
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
import { summary } from "@cv/user.json";
---

<Section title="About">
  <Paragraph size="sm">
    {summary}
  </Paragraph>
</Section>
