---
import Paragraph from "@/components/Paragraph.astro";
import Section from "@/components/Section.astro";
import { getLocaleCollection } from "@/data/getLocaleCollection";

const userData = await getLocaleCollection("user", Astro.currentLocale);
const { summary } = userData.data;
---

<Section title="About">
  <Paragraph size="sm">
    {summary}
  </Paragraph>
</Section>
