<section class="flex flex-col gap-3">
  <h2 class="text-xl font-bold">About</h2>
  <p class="text-pretty leading-5 text-neutral-500">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit libero
    necessitatibus cum magnam quidem repellat quia autem architecto voluptatem
    quasi eveniet exercitationem error consectetur minus impedit consequatur,
    recusandae saepe. Autem!
  </p>
</section>
