---
import Paragraph from "./Paragraph.astro";
import Section from "./Section.astro";
import { summary } from "@cv/user.json";
---

<Section title="About">
  <Paragraph size="base">
    {summary}
  </Paragraph>
</Section>
