<section class="flex flex-col gap-3">
  <h2 class="text-xl font-bold">About</h2>
  <p class="text-pretty text-neutral-500">
    I enjoy learning, keeping up to date and practicing with new technologies,
    and I am proud to highlight my ability to transmit this knowledge to others
    in a clear and effective way. This vocation to help and share my knowledge
    has led me to be the leader of a development team specialized in Angular,
    where I contribute to the joint growth and success.
  </p>
</section>
