---
interface Props {
  id?: string;
  title?: string;
}
const { id, title } = Astro.props;
---

<button
  {id}
  {title}
  class="group cursor-pointer rounded-md border border-neutral-300 p-2 transition-all hover:scale-105 hover:bg-neutral-500/5 active:scale-95"
>
  <slot />
</button>
