---
import GithubIcon from "./icons/GithubIcon.astro";

const links = [
  { href: "/", title: "", icon: GithubIcon },
  { href: "/", title: "", icon: GithubIcon },
  { href: "/", title: "", icon: GithubIcon },
  { href: "/", title: "", icon: GithubIcon },
  { href: "/", title: "", icon: GithubIcon },
];
---

<div class="flex items-center gap-2 pt-2">
  {
    links.map((link) => (
      <a
        href={link.href}
        class="group rounded-md border border-neutral-300 p-2 transition-all hover:scale-105 hover:bg-neutral-500/5 active:scale-95"
      >
        <link.icon class="w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700" />
      </a>
    ))
  }
</div>
