---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import PhoneIcon from "./icons/PhoneIcon.astro";
import XTwitterIcon from "./icons/XTwitterIcon.astro";
import LinkButton from "./LinkButton.astro";

const links = [
  {
    href: "mailto:urielspiridione135@gmail.com",
    title: "Mail",
    icon: MailIcon,
  },
  { href: "tel:+543512136765", title: "Phone", icon: PhoneIcon },
  { href: "https://github.com/USpiri", title: "Github", icon: GithubIcon },
  {
    href: "https://www.linkedin.com/in/urielspiridione/",
    title: "Linkedin",
    icon: LinkedinIcon,
  },
  {
    href: "https://x.com/UrielSpiridione",
    title: "X/Twitter",
    icon: XTwitterIcon,
  },
];
---

<div class="flex items-center gap-2 pt-2 print:hidden">
  {
    links.map((link) => (
      <LinkButton href={link.href} title={`${link.title} page`}>
        <link.icon class="h-4 w-4 fill-neutral-500 transition-colors group-hover:fill-neutral-700" />
      </LinkButton>
    ))
  }
</div>
<div class="hidden flex-col text-xs font-medium underline print:flex">
  <p>urielspiridione135@gmail.com</p>
  <p>+54 351 2136765</p>
  <p>uspiri.com</p>
</div>
