---
import type { Education } from "@models/education.interface";
import EducationCard from "./EducationCard.astro";
import Section from "./Section.astro";

const education: Education[] = [
  {
    institute: "Universidad Nacional de Córdoba (UNC)",
    date: "2019 - Actually",
    title: "Lic. Cs. Económicas",
  },
  {
    institute: "Instituto Nacional de tecnología Industrial (INTI)",
    date: "2018 - 2019",
    title: "Full stack web developer",
  },
  {
    institute: "Instituto Salesiano Pio X",
    date: "2012 - 2017",
    title: "Bachiller en Economía y Administración",
  },
];
---

<Section title="Education">
  <ul class="flex flex-col gap-5">
    {
      education.map((item) => (
        <li>
          <EducationCard education={item} />
        </li>
      ))
    }
  </ul>
</Section>
