---
import type { Education } from "@models/education.interface";
import Description from "./Description.astro";
import Title from "./Title.astro";

interface Props {
  education: Education;
}

const { institution, startDate, endDate, course } = Astro.props.education;
---

<article class="flex flex-col gap-0.5">
  <header class="flex flex-wrap items-center justify-between">
    <Title>{institution}</Title>
    <div class="text-sm text-gray-500 tabular-nums">
      {startDate} - {endDate}
    </div>
  </header>
  <footer>
    <Description>{course}</Description>
  </footer>
</article>
