---
import type { Education } from "@models/education.interface";
import Description from "./Description.astro";

interface Props {
  education: Education;
}

const { education } = Astro.props;
---

<article class="flex flex-col gap-0.5">
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-semibold leading-none">
      {education.institute}
    </h3>
    <div class="text-sm tabular-nums text-gray-500">{education.date}</div>
  </div>
  <Description>{education.title}</Description>
</article>
