<section class="flex flex-col gap-5">
  <h2 class="text-xl font-bold">Experience</h2>
  <ul class="flex flex-col gap-5">
    <li>
      <article class="flex flex-col gap-1">
        <div class="flex items-center justify-between">
          <h3 class="text-lg font-semibold leading-none">
            <a href="/"> Nenes/Notimation </a>
            <span
              class="rounded-md bg-neutral-500/10 px-1 py-0.5 text-xs font-medium"
              >Remote</span
            >
          </h3>
          <span class="text-sm tabular-nums text-neutral-500"
            >2022 - Actually</span
          >
        </div>
        <p class="text-sm font-medium">
          Angular Developer → Lead Angular Developer
        </p>
        <p class="text-pretty leading-5 text-neutral-500">
          Lead an Angular team, manage project, maintain and develop Angular
          applications with the latest version of Angular, Material, Bootstap,
          etc.
        </p>
      </article>
    </li><li>
      <article class="flex flex-col gap-1">
        <div class="flex items-center justify-between">
          <h3 class="text-lg font-semibold leading-none">
            <a href="/"> Nenes/Notimation </a>
            <span
              class="rounded-md bg-neutral-500/10 px-1 py-0.5 text-xs font-medium"
              >Remote</span
            >
          </h3>
          <span class="text-sm tabular-nums text-neutral-500"
            >2022 - Actually</span
          >
        </div>
        <p class="text-sm font-medium">
          Angular Developer → Lead Angular Developer
        </p>
        <p class="text-pretty leading-5 text-neutral-500">
          Lead an Angular team, manage project, maintain and develop Angular
          applications with the latest version of Angular, Material, Bootstap,
          etc.
        </p>
      </article>
    </li>
    <li>
      <article class="flex flex-col gap-1">
        <div class="flex items-center justify-between">
          <h3 class="text-lg font-semibold leading-none">
            <a href="/"> Nenes/Notimation </a>
            <span
              class="rounded-md bg-neutral-500/10 px-1 py-0.5 text-xs font-medium"
              >Remote</span
            >
          </h3>
          <span class="text-sm tabular-nums text-neutral-500"
            >2022 - Actually</span
          >
        </div>
        <p class="text-sm font-medium">
          Angular Developer → Lead Angular Developer
        </p>
        <p class="text-pretty leading-5 text-neutral-500">
          Lead an Angular team, manage project, maintain and develop Angular
          applications with the latest version of Angular, Material, Bootstap,
          etc.
        </p>
      </article>
    </li>
  </ul>
</section>
