---
interface Props {
  size?: "sm" | "base";
  class?: string;
}

const { size = "sm", class: className } = Astro.props;
---

<p class={`text-${size} text-neutral-500 ${className ?? ""}`}>
  <slot />
</p>
