---
import Project from "./Project.astro";
import Section from "./Section.astro";
import { projects } from "@cv/projects.json";
---

<Section title="Projects">
  <ul class="flex flex-col gap-5">
    {
      projects.map((project) => (
        <li>
          <Project project={project} />
        </li>
      ))
    }
  </ul>
</Section>
