---
interface Props {
  title: string;
  forceNewPage?: boolean;
}
const { title, forceNewPage = false } = Astro.props;
---

<section class={`space-y-4 ${forceNewPage && "force-new-page"}`}>
  <h2 class="text-xl font-bold">{title}</h2>
  <slot />
</section>
