---
import Badge from "@components/Badge.astro";
import Section from "./Section.astro";
const skills = [
  "Angular",
  "Typescript",
  "Tailwind",
  "HTML",
  "CSS",
  "Astro",
  "Bootstraap",
  "NodeJs",
  "NestJs",
];
---

<Section title="Skills">
  <ul class="flex flex-wrap justify-center gap-4">
    {
      skills.map((skill) => (
        <li class="select-none transition-all duration-100 hover:scale-105">
          <Badge label={skill} size="sm" />
        </li>
      ))
    }
  </ul>
</Section>
