---
import Badge from "@components/Badge.astro";
const skills = [
  "Angular",
  "Typescript",
  "Tailwind",
  "HTML",
  "CSS",
  "Astro",
  "Bootstraap",
  "NodeJs",
  "NestJs",
];
---

<section class="force-new-page flex flex-col gap-4">
  <h2 class="text-xl font-bold">Skills</h2>
  <ul class="flex flex-wrap justify-center gap-4">
    {
      skills.map((skill) => (
        <li class="select-none transition-all duration-100 hover:scale-105">
          <Badge label={skill} size="sm" />
        </li>
      ))
    }
  </ul>
</section>
