---
import BaseHead from "@components/layout/BaseHead.astro";
import "../styles/styles.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-neutral-50 text-neutral-900">
    <slot />
  </body>
</html>
