---
import Section from "@/components/Section.astro";
import Project from "./Project.astro";
import { getLocaleCollection } from "@/data/getLocaleCollection";

const projectsData = await getLocaleCollection("projects", Astro.currentLocale);
const projects = projectsData.data;
---

<Section title="Projects">
  <ul class="flex flex-col gap-5">
    {
      projects.map((project) => (
        <li>
          <Project project={project} />
        </li>
      ))
    }
  </ul>
</Section>
